.caja{
    
    margin:0 auto;
    width:50%;
}

.capafondo{
    background: url("FONDO.jpg");
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: -1;
    
    }
.caja .mifoto{
    border-radius:2em;
    box-shadow:0 0 0.5em rgba(0, 0, 0, 0.8);
    cursor: pointer;

}